body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 32px;
    height: 100%;
}

html {
    height: 100%;
}

#power-gauge {
    /* background-color: aqua; */
    margin-right: 60px;
}

#power-gauge g.arc {
    fill: steelblue;
}

#power-gauge g.pointer {
    fill: #000000;
    stroke: #000000;
}

#power-gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
}

#legends {
    /* background-color: #8b8988; */
    margin: 0px;
    padding: 0px;
}

#gauge {
    /* background-color: #b64011; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}