#power-gauge {
    font-size: 12px;
    margin-right: 60px;
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
}

#power-gauge g.arc {
    fill: steelblue;
}

#power-gauge g.pointer {
    fill: #000000;
    stroke: #000000;
}

#power-gauge g.label text {
    text-anchor: middle;
    font-size: 11px;
    font-weight: bold;
    fill: #000;
}

#legends {
    font-size: 12px;
    margin-top: 40px;
    padding: 0px;
	align-items: flex-end;
	display: flex;
}

.gauge-index {
    font-weight: lighter;
    margin-bottom: 2px;
}

#covidometro .elementor-widget-wrap {
	justify-content: center;
	flex-direction: row;
}


/*Gráfico de linhas*/
#historical_data {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.label {
    fill: #000;
    font-size: 12px;
}

.shadow {
    stroke: #fff;
    font: 12px;
    stroke-width: 6px;
    opacity: 1
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    stroke-width: 3;
    fill: #fff
}

.grid path {
    stroke-width: 0;
}

.fase_line {
    stroke: #F0F;
    stroke-width: 4px;
    stroke-opacity: 1.0;
    opacity: 1.0;
}

#covidometro-table {
    display: flex;
    justify-content: center;
}

#covidometro-table table  {
  border-spacing: 0px;
}

#covidometro-table table td {
  border: 1px solid black;
  padding: 10px;
}

#covidometro-table table th {
  border: 1px solid black;
  padding: 10px;
}